@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.navbarItem {
  min-width: 46px;
  width: 100%;
  height: 46px;
  margin-bottom: 15px;
  border-radius: 8px;
  transition: $transition;
  color: $color-text-gray;

  &.active {
    color: $color-white;
    background-color: $color-blue;
  }
  a {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 11px;
    width: 100%;
    color: inherit;
    @include phone2 {
      gap: 0;
      max-width: 45px;
    }
  }
  .navbarItem__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    width: 24px;
    height: 24px;
  }
  .navbarItem__content {
    width: 100%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
    span {
      margin-top: 5px;
      height: 20px;
      @include phone2 {
        display: none;
      }
    }
    & .chevron {
      @include tablet {
        display: none;
      }
    }
    &.active {
      .chevron {
        transition: $transition;
        display: none;
      }
    }
  }

  @include tablet {
    display: flex;
    height: 40px;
    min-width: fit-content;
    margin-bottom: 0;
  }
  @include phone2 {
    width: fit-content;
  }
}
